.activities{
    min-height: 110vh;
}
.activities h1{
    padding-top: 5vh;
    padding-left: 3vw;
    font-size: 2.2rem;
}

.activities-content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    margin-top: 10vh;
    gap: 25px;
    
}
.images-activities{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 60px;

}
.content{
    width: 20vw;
    padding: 20px;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
}


.activities-content img{
    height: 40rex;
    width: 25rem;
}