.book-event-banner {
  position: relative;
  text-align: center;
  color: white;
}

.book-event-header {
  position: absolute;
  top: 65%;
  left: 50%;
  font-size: 5rem;
  transform: translate(-50%, -50%);
  font-family: 'Lato', sans-serif;
  color: rgb(255, 255, 255);
}

.book-event-banner-img {
  margin-left: -9px;
  padding: 0;
  width: 100vw;
}

.book-event-container {
  display: flex;
  flex-direction: row;
  font-family: 'Lato', sans-serif;
  justify-content: center;
  align-items: center;
  margin: 100px;
}

.book-event-info {
  display: flex;
  flex-direction: column;
  margin-inline: 100px;
  width: 600px;
}

.book-event-title {
  font-size: 3rem;
}

.book-event-subtitle {
  font-size: 1.5rem;
  color: #666;
}

.book-event-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: white;
  max-width: 800px;
  width: 100%;
}

.form-group {
  margin-bottom: 20px;
  width: 100%;
}

.form-group label {
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
  color: #333;
}

.form-group input {
  width: 100%;
  padding: 12px;
  border: 1px solid #707070;
  font-size: 14px;
  box-sizing: border-box;
}

button {
  padding: 12px 20px;
  background-color: #ffffff;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

@media screen and (max-width: 768px) {
  .book-event-container {
      flex-direction: column;
      margin: 20px;
  }

  .book-event-info {
      margin-inline: 0;
      width: 100%;
  }

  .book-event-form {
      padding: 20px;
      width: 100%;
      max-width: 600px;
  }
}

@media screen and (max-width: 480px) {
  .book-event-header {
      font-size: 2.5rem;
      top: 60%;
  }

  .book-event-title {
      font-size: 1.5rem;
  }

  .book-event-subtitle {
      font-size: 1rem;
  }

  .book-event-form {
      padding: 20px;
  }

  .book-event-header {
      font-size: 1.5rem;
  }

  .book-event-banner-img {
      width: 120vw;
      height: vh;
  }
}
