/* Footer.css */
.footer {
    background-color: #002244; /* Use the color from your provided design */
    color: white;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Lato, sans-serif;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    max-width: 1200px; /* Adjust as necessary to fit your site's layout */
  }
  
  .footer-block {
    display: flex;
    flex-direction: column;
    margin-right: 40px; /* Adjust the space between columns as needed */
  }
  
  .footer-block h3 {
    margin-bottom: 10px; /* Adjust as necessary for your design */
  }
  
  .footer-block a, .footer-block p {
    color: white;
    text-decoration: none;
    margin-bottom: 8px; /* Adjust the space between links as needed */
  }
  
  .footer-icons {
    display: flex;
    /* Aligns the icons to the right of the footer */
    margin-left: auto;
  }
  
  .icon {
    /* diameter of circe */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid white; 
    margin-left: 10px; 
    font-size: 24px; 
  }
  .ig-logo{
    width: 20px;
    height: 20px;
  }
  .fb-logo{
    width: 20px;
    height: 20px;
  }
  .x-logo{
    width: 20px;
    height: 20px;
  }

  /* Media Queries for responsiveness */
@media (max-width: 768px) {
  .footer-content {
      flex-direction: column; /* Stacks blocks vertically */
      align-items: center;
  }

  .footer-block {
      margin-right: 0;
      margin-bottom: 20px; /* Adds space between stacked blocks */
      align-items: center;
  }

  .footer-icons {
      margin-left: 0;
      margin-top: 20px; /* Adds space above the icons */
  }

  .icon {
      margin-left: 10px;
      font-size: 20px; /* Adjust icon size for smaller screens */
  }
}

@media (max-width: 480px) {
  .footer {
      padding: 10px;
  }

  .footer-block {
      min-width: 100%; /* Ensures blocks take full width */
      align-items: center;
  }

  .footer-icons {
      justify-content: center;
      margin-top: 10px; /* Adds space above the icons */
  }

  .icon {
      width: 30px;
      height: 30px;
      font-size: 18px; /* Adjust icon size for smaller screens */
  }
}