.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0;
	margin: 0px 30px;
	color: white;
	/* height: 100px; */
	/* box-shadow: 1px 2px 10px #888888; */
}

.logo-nav-link {
	display: flex;
}

.logo {
	width: 120px;
}

.navigation_menu {
	justify-self: flex-end;
	display: flex;
	justify-content: space-between;
	padding: 0;
	align-items: center;
  width: 65%;
}

.menu-button-container {
	display: none;
}

.navigation {
	justify-self: center;
	display: flex;
	gap: 25px;
	list-style: none;
	align-items: center;
}

.nav-link {
	text-decoration: none;
	color: #001427;
	transition: color 0.2s;
}

.nav-link-active {
	color: #001427;
	text-decoration: underline;
	font-weight: bold;
}

.nav-link:hover {
	color: #aaaaaa;
}

.log-in {
	text-decoration: none;
}

.log-in:hover {
	background-color: #0055bb; /* Replace with the button hover background color you need */
}

@media screen and (max-width: 778px) {
  .header{
    margin: 0px 15px;
    height: fit-content;
  }

  .logo{
    width: 110px;

  }
  .navigation_menu {
    width: 70%;
  }

  .nav-link{
    font-size: 13px;
  }

  .log-in{
    font-size: 13px !important;
  }

  .navigation{
    gap: 15px;
  }
}

@media screen and (max-width: 574px) {
  .menu-button-container{
    display: flex;
    align-items: center;
  }

  .navigation_menu{
    display: none;

    &&.active{
      display: flex;
      flex-direction: column;
      gap: 10px;
      position: absolute;
      top: 50px;
      right: 10px;
      background-color: white;
      padding: 10px;
      z-index: 1;
      width: fit-content;
    }
  }

  .navigation{
    flex-direction: column;
  }


}
