.meetings{
    min-height: 105vh;
}
.meetings h1{
    padding-left: 3vw;
    font-size: 2.5rem;
    padding-top: 5vh;
}
.meetings p{
    font-size: 1.2rem;
}
.meetings-content{
    text-align: center;
    width: 100vw;
    height: 35vh;
    margin-top: 10vh;
}
.meetings-content img {
    height: 30rex;
    width: 40rem;
}
.meetings-content{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.meetings-content div{
    width: 40vw;
}