.restaurant div{
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    width: 35vw;
    height: 50vh;
    top: 50%;
    left: 50%;
    transform: translate(80%,25%);
    color: white;
}
.restaurant h1{
    padding-top: 6vh;
    font-size: 2.5rem;
}
.restaurant p{
    font-size: 1.4rem;
}