.room-info {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    left: 4vw;
    width: 50vw;
    margin-top: 5vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-bottom: 20px;
}

.room-info-name {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.room-info img {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-bottom: 15px;
}

.room-card {
    display: flex;
    flex-direction: column;
}


.room-info button {
    width: 8.8rem;
    font-size: 0.8rem;
    height: 2.5rem;
}

.room-info-content {
    display: flex;
    flex-direction: column;
}
